.profileBox {
  width: 300px;
  height: 350px;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  margin: 0 auto;
  margin-bottom: 20px;
}
.avatar {
  margin-top: 10px;
  width: 100px;
  border-radius: 50%;
  background-color: black;
}

.statsList {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  margin-top: auto;
}

.statsListItem {
  display: flex;
  flex-direction: column;
  padding: 20px;
  /* border: 1px solid black; */
}

.avatarBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
