.box {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 20px;
}
.boxItem {
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
}
