.container {
  margin: 0 auto;
  width: 600px;
  text-align: center;
}

.containerHeader {
  background-color: black;
  color: white;
}

.rowItem {
  text-transform: capitalize;
}
.rowItem td {
  border: 1px solid black;
}
.rowItem:nth-child(even) {
  background-color: grey;
}
